@model ProductViewModel

@{
    ViewData["Title"] = "Product details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <h5 class="card-title">
                                    @Model.Name
                                </h5>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div style="display: flex;">
                                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                                        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                            <input type="hidden" name="delete" value="delete" />
                                            <button type="submit" class="btn btn-outline-danger ms-1"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    @*<img src="@Model.ImageURL" width="100%" alt="@Model.Name">*@
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>Price: </b>@Model.Price $</p>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>In stock: </b>@Model.Count</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>