@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title" style="display: flex; align-items: center; justify-content: space-between;">
                                    @item.Name
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div style="display: flex;">
                                            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                <input type="hidden" name="delete" value="delete" />
                                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
                                            </form>
                                        </div>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<img src="@item.ImageURL" width="100%" alt="@item.Name">*@
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Price: </b>@item.Price $</p>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @*                               <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @await Html.PartialAsync("_CreateItem", "Product")
</div>

